{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About Lilipad{% endblock %}

{% block content %}

{% block navbar %}{% endblock %}
<div class="shadow p-5 mb5 bg-light rounded">
	<h1 id="shadowMove" class="display-3">Lilipad</h1>
	<img id="logo" src="{% static 'img/lilybig.png' %}" height=30 width=30>
	<hr class="my-4">
	<p class="lead">Page in developing proccess</p>	
</div>

{% endblock %}
{% block extrajs %}
	<script type="text/javascript" src="{% static 'js/shadows.js' %}"></script>
{% endblock %}
