<div class="modal fade" id="delusersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document"> 
		<div class="modal-content"> 
			<div class="modal-header"> 
				<h5 class="modal-title" id="exampleModalLabel">Borrar Datos Usuarios</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
			</div> 
			<div class="modal-body">
				<p>Esta seguro que desea eliminar los datos de usuarios?</p>
			</div> 
			
			<div class="modal-footer">
				<form method="post" action="{% url 'data:delete_users' users.id%}">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger btn-sm btn-shadow">Si, eliminar</button>
				</form>
				<button type="button" class="btn btn-secondary btn-sm btn-shadow" data-dismiss="modal">Cancelar</button> 
				
			</div> 
		</div> 
	</div> 
</div>