{% load staticfiles %}
<div class="modal fade" id="proxmoxModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document"> 
		<div class="modal-content"> 
			<div class="modal-header"> 
				<h5 class="modal-title" id="exampleModalLabel">Proxmox Datos</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
			</div> 
			<form action="{% url 'data:proxmox_data' %}" method="post">
				{% csrf_token %}
				<div class="modal-body">
					<div class="form-group">
					
					<label for="{{ form_prox.servername.name }}"><p class="font-weight-bold font-italic">Server Name</p></label>
						{{ form_prox.servername }}
					</div>
					<div class="form-group">
					
					<label for="{{ form_prox.username.name }}"><p class="font-weight-bold font-italic">Username</p></label>
					{{form_prox.username}}
					</div>
					<div class="form-group">
					<label for="{{ form_prox.password.name }}"><p class="font-weight-bold font-italic">Password</p></label>
					<div class="input-group">
						<input type="password" onkeyup="showIcon(this)" name="{{form_prox.password.name}}" id="formProx" class="form-control" aria-label="Example text with button addon" placeholder="Password" aria-describedby="button-addon1" required="">
						<img id="passRevealProx" src="{% static 'img/glyphicons-halflings-25-eye%402x.png' %}" class="reveal" height=18 width=18 onmousedown="mdown(this)" onmouseup="mup(this)">
						
					</div>
					</div>
					<div class="form-group">
					<label for="{{ form_prox.address.name }}"><p class="font-weight-bold font-italic">Address</p></label>
					{{form_prox.address}}
					</div>		
				</div> 
			
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary btn-shadow">Save changes</button>
					<button type="button" class="btn btn-secondary btn-shadow" data-dismiss="modal">Close</button> 
				</div> 
			</form>
		</div> 
	</div> 
</div>