<div class="modal fade" id="usersFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document"> 
		<div class="modal-content"> 
			<div class="modal-header"> 
				<h5 class="modal-title" id="exampleModalLabel">Datos Adicionales</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
			</div> 
			<form action="{% url 'data:insert_users' %}" method="post">
				{% csrf_token %}
				<div class="modal-body">

					<div class="form-group">
						<label for="{{form.current_users.name}}"><p class="font-weight-bold font-italic">{{form.current_users.label}}</p></label>
						{{form.current_users}}
						<small id="passwordHelpBlock" class="form-text text-muted">
							You must insert numbers
						</small>
					</div>

					<div class="form-group">
						<label for="{{form.new_users.name}}"><p class="font-weight-bold font-italic">{{form.new_users.label}}</p></label>
						{{form.new_users}}
						<small id="passwordHelpBlock" class="form-text text-muted">
							You must insert numbers
						</small>
					</div>

					<div class="form-group">
						<label for="{{form.future_users.name}}"><p class="font-weight-bold font-italic">{{form.future_users.label}}</p></label>
						{{form.future_users}}
						<small id="passwordHelpBlock" class="form-text text-muted">
							You must insert numbers
						</small>
					</div>
					<div class="form-group">
						<label for="{{form.start_time.name}}"><p class="font-weight-bold font-italic">Tiempo de Inicio</p></label>
						{{form.start_time}}
						<small id="passwordHelpBlock" class="form-text text-muted">
							Please obey the requeted format
						</small>
					</div>			
				</div> 
				<div class="form-group">
					<label for="{{form.end_time.name}}"><p class="font-weight-bold font-italic">Tiempo Final</p></label>
					{{form.end_time}}
					<small id="passwordHelpBlock" class="form-text text-muted">
						Please obey the requeted format
					</small>
				</div>
			
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary btn-shadow">Save changes</button>
					<button type="button" class="btn btn-secondary btn-shadow" data-dismiss="modal">Cancelar</button> 
				</div> 
			</form>
		</div> 
	</div> 
</div>